.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    
}
.dialogsItem {
    border-right: 2px solid #c59edf; /* Разделительная линия */
}

.dialogsItem a{
    display: flex;;  /* Чтобы каждая ссылка была блочным элементом */
    align-items: center;
    gap: 10px; /* Расстояние между аватаркой и именем */
    color:rgba(33, 14, 34, 0.795);
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    width: 100%;
    
}

.dialogsItem a:hover {
    background-color: #c9bae9; 
    color: #6a0dad;
}

.dialogsItem a.activeLink{
    color: #8224E3;
    font-weight: bold;
}



.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:rgba(33, 14, 34, 0.795);
    background-color: rgb(210, 203, 218);
    overflow-y: auto;
    padding: 20px;
    border-radius: 5px;
}
.messagesItem{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.textareaContainer{
    display: flex;
    align-items: center;
}
.textareaContainer textarea {
    margin-top: 10px;
    flex: 1;
    padding: 10px;
    width: 90%;
    min-height: 50px;
    max-height: 150px;
    resize: none;
    border-radius: 20px;
    border: 2px solid #c59edf;
    outline: none;
    font-size: 16px;
    background: #f5f0ff;
    transition: 0.3s;
}


.textareaContainer textarea:focus {
    border-color: #8224E3;
    background: white;
}

.textareaContainer button {
    border: none;
    background-color: #8224E3;
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 50px;
    margin-left: 10px;
}
/*
.textareaContainer button {
    border: none;
    gap: 20px;
    background-color: #8224E3;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.textareaContainer button:hover {
    background-color: #6a0dad;
    transform: scale(1.05);
}

.textareaContainer button:active {
    transform: scale(0.95);
}


/*
.textareaContainer textarea {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    width: 85%;
    min-height: 50px;
    max-height: 200px;
    resize: none;
    border-radius: 20px;
    border: 2px solid #c59edf;
    gap: 20px;
    outline: none;
    font-size: 16px;
    background: #f5f0ff;
    transition: 0.3s;
}*/